/* Variable declarations */
:root {
  /* Colors */
  --dark-grey: #373B3B;
  --dark-blue: #0d1b2a;
  --light-blue: #415a77;
  --off-white: #e0e1dd;
}

* {
  margin: 0;
  padding: 0; 
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* This makes 1rem = 10px */
  scroll-behavior: smooth; 
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6; 
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}


/* ----- Components ----- */
.btn {
  padding: 1.8rem 2.4rem;
  font-size: 1.6rem;
  border: 2px solid var(--dark-blue);
  transition: .2s;
  cursor: pointer;
  border-radius: 3rem;
  text-decoration: none;
  color: #000
}

.btn:hover {
  background-color: var(--dark-blue);
  color: var(--off-white);
}

.card {
  height: 30rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media only screen and (max-width: 960px) {
  .card {
    flex-direction: row;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
.navbar {
  background-color: var(--dark-blue);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar__container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.navbar__menu {
  display: none;
}

.navbar__item {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 2rem 3.2rem;
}

.navbar__link {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--off-white);
}

.navbar__item:hover, 
.navbar__item:active {
  background-color: var(--light-blue);
  transition: .3s;
}

@media only screen and (max-width: 1100px) {
  .navbar__container {
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  .navbar__container {
    flex-wrap: wrap;
    justify-content: end;
}

.navbar__list {
  display: none;
  width: 100%;
  left: -100%;
  top: 0;
}

.navbar__list.show {
  display: flex;
  flex-direction: column;
  left: 0;
}

.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar__logo {
  margin: 0 2rem;
}

.navbar__menu {
  display: block;
  font-size: 6rem;
  color: var(--off-white);
  cursor: pointer;
  padding: 1rem;
  margin: 0 2rem;
}
}

/* Footer */
.footer__container {
  background-color: var(--dark-blue);
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  list-style: none;
  padding-top: 2rem;
}

.footer__item {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--off-white);
  padding: 2rem 3.2rem;
}

.footer__link {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 2rem 3.2rem;
  color: var(--off-white);
}

.footer__item:hover,
.footer__item:active {
  background-color: var(--light-blue);
  transition: .3s;
}


.footer__text {
  text-align: center;
  color: var(--light-blue);
  font-size: 1.6rem;
  padding-bottom: 2rem;
}

.footer__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* ----- Home Page ----- */
/* Jumbotron */
.jumbotron-img {
  background-image: linear-gradient(rgba( 0, 0, 0, .6), rgba( 0, 0, 0, .6)), url('../img/modern-house-backyard.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.jumbotron__container {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media only screen and (max-width: 960px) {
  .jumbotron__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.jumbotron__title {
  font-size: 5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  grid-column: 2 / 4;
  align-self: end;
  color: var(--off-white);
}

.jumbotron__text {
  font-size: 1.8rem;
  font-weight: 100;
  grid-column: 2 / 3;
  color: var(--off-white)
}

/* Category section */
.home__heading {
  margin-top: 4rem;
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
}

.home__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30rem;
  justify-items: center;
  margin: 2rem 0;
}

@media only screen and (max-width: 960px) {
  .home__container {
    grid-template-columns: 60rem;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
  }
}

.home__card--icon {
  height: 10rem;
  width: 10rem;
}

@media only screen and (max-width: 960px) {
  .home__card--icon {
    margin: 0 2rem;
  }
}


.home__card {
  width: 100%;
  cursor: pointer;
  transform: scale(.9);
  transition: all .2s;
}

.home__card:hover {
  transform: scale(1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home__card p {
  margin: 0 4rem;
}

.home__card--text {
  font-size: 2.6rem;
  text-align: center;
}

.home__card--sub {
  font-size: 1.8rem;
}

.home__line {
  height: 1px;
  border-width: 0;
  background-color: var(--dark-grey);
  margin: 0 auto;
  margin-bottom: 6rem;
  width: 80%;
}

.home__text {
  font-size: 1.6rem;
  text-align: center;
  padding: 2rem;
}

.home__btn--container {
  display: flex;
  justify-content: center;
  margin-bottom: 6rem;
}

.home__btn {
  margin: 2rem;
}

/* ----- Login / Sign up Page ----- */
.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8rem auto;
  flex-grow: 1;
}

.login__heading {
  font-size: 3rem;
  padding: 2rem;
  font-weight: 400;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.form__group {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.form__input {
  padding: 1rem;
  border: none;
  border-bottom: 3px solid #eee;
  background: #fff;
}

.form__input:focus {
  outline: none;
  border: none;
  transition-property: border-bottom;
  transition-duration: .3s;
  border-bottom: 4px solid var(--light-blue);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2); 
}

.form__btn {
  margin: 2rem 0;
}

.form__text--sub {
  margin: 4rem 0;
  font-size: 1.8rem;
}

.form__btn--secondary {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.login__btn--secondary:visited {
  text-decoration: none;
}

/* ----- Create Page ----- */
.property__form--heading {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 1.2rem 0;
}

.property__form {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
}

.property__form--control {
  margin: .8rem 2rem;
}

.property__formInput {
  width: 60%;
  padding: .8rem;
  margin: .8rem 0;
  font-size: 1.8rem;
  border-radius: 4px;
}

.property__formInput:focus {
  outline-color: var(--dark-blue);
}

.input--dollar {
  position: relative;
}

.input--dollar:before {
  position: absolute;
  top: -4px;
  content: "$";
  left: 5px;
  padding-bottom: 3px;
}

.property__form--control #price {
  padding-left: 1.6rem;
}

.property__form--radio {
  margin: .8rem 1.6rem;
  transform: scale(1.5);
}

.property__form--label {
  margin-right: .6rem;
}

.form--textarea {
  display: flex;
  flex-direction: column;
  height: 14rem;
}

.property__form--textarea {
  padding: .8rem;
  margin: .8rem 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  height: 8rem;
  width: 50%;
}

.property__form--textarea:focus {
  outline-color: var(--dark-blue);
  border-radius: 4px;
}

.property__formImages {
  display: none;
}

.property__form--btn {
  width: 30%;
  align-self: center;
}

/* ----- Property Page ----- */
.property__info {
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
}

.property__info--title {
  font-size: 2.6rem;
  font-weight: 500;
  margin: 1rem 8rem;
}

.property__info--rooms {
  display: flex;
}

.property__info > div {
  margin: 1rem 8rem;
}

.property__info--rooms > p {
  margin-right: 8rem;
}

.contact__btn {
  margin: 2rem auto;
}

/* ----- Contact Page ----- */
.contact__form--heading {
  font-size: 2.6rem;
  font-weight: 500;
  margin: 2rem 0;
  text-align: center;
}

.contact__form--container {
  width: 50%;
  margin: 0 auto;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.contact__form > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

.contact__form--subject {
  font-size: 1.6rem;
  padding: 1.2rem;
}

.contact__form--message {
  height: 16rem;
  padding: 1.2rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
}

.contact__form--message:focus {
  outline-color: var(--dark-blue);
}

/* ----- Properties Page ----- */
.properties__head-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.properties__heading {
  font-size: 2.6rem;
  font-weight: 400;

}

.properties__btn {
  margin-right: 1rem;
}

@media only screen and (max-width: 1450px) {
  .properties__head-container {
    margin: 1rem 4rem;
  }
}

@media only screen and (max-width: 750px) {
  .properties__head-container {
    display: block;
  }
}

/* ----- Properties Item ----- */
.property__card {
  position: relative;
  display: flex;
  width: 100rem;
  height: 28rem;
  margin: 8rem auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.property__card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(-2px);
  transition: all .2s ease-in;
}

.property__image-container {
  max-width: 40%;
  height: 100%;
}

.property__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100%;
}

.property__body {
  margin: 2rem 0;
  margin-left: 6rem;
  flex-grow: 1;
}

.property__body-title {
  font-size: 2.6rem;
  font-weight: 300;
}

.property__body-type {
  font-size: 1.4rem;
}

.property__body > div {
  display: flex;
}

.property__body-icon {
  font-size: 1.8rem;
  margin: 2rem 0;
  margin-right: 4rem;
}

.property__body-price {
  font-size: 2rem;
  margin-bottom: 3.5rem;
}

.property__body-date {
  font-size: 1.8rem;
  position: absolute;
  right: 12px;
  bottom: 12px;
  margin: 0 0;
}

.property__body-btn {
  margin: 4rem 0;
}

.property__body-edit {
  position: absolute;
  right: 5rem;
  top: 0;
  padding: 0;
  color: #00b33c;
  font-size: 2.4rem;
}

.property__body-delete {
  position: absolute;
  right: 1.8rem;
  top: 5px;
  padding: 0;
  color: #ff0000;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .property__card {
    width: 80rem;
  }

  .property__image-container {
    margin-right: 6rem;
  }
}

@media only screen and (max-width: 860px) {
  .property__card {
    flex-direction: column;
    height: 65rem;
    width: 60rem;
    align-items: center;
  }

  .property__image-container {
    width: 60rem;
    height: 40rem;
    margin: 0;
    max-width: fit-content;
  }

  .property__body {
    width: 100%;
    height: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
  }

  .property__body-title {
    margin-left: 2rem;
  }

  .property__body-type {
    margin-left: 2rem;
  }

  .property__body-icon {
    margin: .8rem 2rem;
  }

  .property__body-price {
    margin-left: 2rem;
    margin-bottom: 0;
  }

  .property__body-btn {
    margin: 0 auto;
  }

  .property__body-edit {
    top: 40rem
  }

  .property__body-delete {
    top: 40.6rem;
  }
}

@media only screen and (max-width: 660px) {
  .property__card {
    flex-direction: column;
    height: 50rem;
    width: 30rem;
    margin: 4rem auto;
  }

  .property__image-container {
    width: 30rem;
    height: 20rem;
    margin: 0;
    max-width: fit-content;
  }

  .property__body {
    margin: 1rem auto;
  }

  .property__body-btn {
    margin: 0 auto;
    margin-top: 1rem;
  }

  .property__body-edit {
    top: 20rem;
  }

  .property__body-delete {
    top: 20.6rem;
  }

  .property__body-date {
    font-size: 1.6rem;
    right: 6rem;
    bottom: 12px;
    margin: 0 0;
  }
}

/* ----- Dashboard ----- */
.btn__containter {
  display: flex;
  justify-content: flex-end;
}

.dashboard__header {
  margin: 2rem 0;
  margin-left: 4rem;
}

.dashboard__btn {
  align-items: center;
  margin-right: 2rem;
  display: flex;
}

.dashboard__icon {
  font-size: 3rem;
}

